# Quartus Folder
datashhet_OV7670/
db/
db2/
greybox_tmp/
incremental_db/
output_files/
simulation/
.qsys_edit/
ip/
pll_vga/
.vscode/

# Quartus File
*.bdf
*.qpf
*.pdf
*.qsf
*.qip
*.bsf
*.ppf
*.cmp
*.qsys
*.scopcinfo
*.vwf
*.qsys
*.inc
*.sopcinfo
*.qws
*.rpt

# Not my files
i3c2.vhd
ov7670_capture.vhd
ov7670_controller.vhd
debounce.vhd
pll.vhd

# Backup Files
*.v
*.v.bak
*.vhd.bak
Camera_nativelink_simulation.rpt
*.var
*.var
*.setup
*.sh
*.vho
*.tcl
*.sip
*.spd
*.spd
*.f
*.lib
*.rpt
*.rpt
*.rpt
